.kibbleModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10001; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0, 0.9); /* Fallback color */
}

/* Modal Content */
.kibbleModal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 834px;
  height: auto;
  border-radius: 4px;
  overflow-y: auto;
}

/* The Close Button */
.kibbleModalClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;
}

.kibbleModalClose:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.kibModalLogo img {
  width: 100%;
  max-width: 286px;
  margin: 0 auto;
  display: block;
}

.kibTabGrp {
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
  display: block;
}

.kibtabs {
  width: 100%;
  max-width: 714px;
}

.kibtabs-header {
  height: 48px;
  background-color: #f3f3f3;
  display: flex;
}

.kibtab-active {
  border-bottom: 2px solid rgb(213, 155, 43);
}

.kibtab-active span {
  color: rgb(98, 59, 42);
}

.kibPlan {
  width: 238px;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c24;
  font-weight: normal;
  text-align: center;

  display: flex;
}

.kibPlan span {
  margin: auto;
}

.kibNutri {
  width: 238px;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c24;
  font-weight: normal;
  text-align: center;

  display: flex;
}

.kibNutri span {
  margin: auto;
}

.kibTrans {
  width: 238px;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c24;
  font-weight: normal;
  text-align: center;

  display: flex;
}

.kibTrans span {
  margin: auto;
}

.kibtabs-content {
  margin-top: 38px;
}

.kibPlanContGrp .kibtab-header {
  margin-bottom: 40px;
}

.kibtab-header h2 {
  font-size: 18px;
  line-height: 23px;
  color: #623b2a;
  text-align: left;
  margin-bottom: 6px;
}

.kibtab-header p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.kibtab-content-1 h2 {
  font-size: 18px;
  line-height: 23px;
  color: #623b2a;
  text-align: left;

  margin-bottom: 19px;
}

.KibMealPlanGraphicGrp {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.kibmeal-pln-bx-bg {
  background: rgba(239, 143, 122, 0.1);
  padding: 30px 69px;
  border-radius: 4px;
  height: 211px;
  width: 100%;
  max-width: 231px;
  position: relative;
}

.kibmeal-pln-bx-bg-1 {
  margin-right: auto;
}

.kibmeal-pln-bx-bg-3 {
  margin-left: auto;
}

.kibCircleMP {
  height: 86px;
  width: 86px;
  background-color: rgba(239, 143, 122, 0.4);
  border-radius: 50%;
  display: flex;
}

.kibCircleMP-kcals img {
  width: 100%;
  max-width: 42px;
  height: 47px;
  margin: auto;
}

.kibCircleMP-cupsPD img {
  width: 100%;
  max-width: 49px;
  height: 38px;
  margin: auto;
}

.kibCircleMP-lbs7 img {
  width: 100%;
  max-width: 36px;
  height: 48px;
  margin: auto;
}

.kibCircleMid {
  height: 40px;
  width: 40px;
  background-color: #ef8f7a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kibCircleMid span {
  margin: auto;
}

.kibCircleMid-1 {
  position: absolute;
  left: 29.9%;
  bottom: 37.9%;
}

.kibCircleMid-2 {
  position: absolute;
  left: 64.3%;
  bottom: 37.9%;
}

@media screen and (max-width: 700px) {
  .kibCircleMid-1 {
    left: 22%;
  }

  .kibCircleMid-2 {
    left: 70%;
  }
}

@media screen and (max-width: 600px) {
  .kibtab-content-1 {
    width: 100%;
    min-width: 280px;
    max-width: 671.13px;
    margin: 0 auto;
    padding: 0px 20px;
  }
}

.kibCircleMid-2 span {
  height: 8px;
  display: flex;
}

.kibmeal-plan-number {
  margin-top: 10px;
  text-align: center;
  color: #ef8f7a;
  font-size: 22px;
  line-height: 28px;
  font-weight: normal;
}

.kibmeal-plan-label {
  text-align: center;

  color: #1b1c24;
  font-size: 18px;
  line-height: 23px;
  margin-top: 4px;
}

.kibtab-content-2 {
  margin-top: 40px;
}

.kibtab-content-2 h2 {
  font-size: 18px;
  line-height: 23px;
  color: #623b2a;
  text-align: left;
}

.kibGoalContent {
  display: flex;
}

.kibGoalContent ul {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  width: 200px;
}

.kibGoalContent ul li {
  font-size: 16px;
  line-height: 23px;
  padding: 4px 0;

  font-weight: normal;
  display: flex;
  align-items: center;
}

.kibGoalContent li::before {
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 8px;
  background: var(--greenButtonBase);
  border-radius: 100%;
  font-size: 1.8em;
  flex-shrink: 0;
}

.kibGoalContent ul:nth-child(4) {
  margin-right: 0px;
  margin-left: auto;
}

.kibbleModalClose img {
  width: 24px;
  height: 24px;
  margin: auto;
}

.kibtab-content-trans {
  background-color: rgba(239, 143, 122, 0.1);
  padding: 0 20px;
  border-radius: 4px;
  width: 100%;
  height: 300px;
  padding-top: 30px;
  margin-top: 38px;
}

.kibtab-content-trans h2 {
  font-size: 18px;
  line-height: 23px;
  color: #623b2a;
  text-align: center;

  margin-bottom: 0px;
  position: relative;
  margin-top: 0px;
}

.kibtab-contentImgGrp {
  display: flex;
  margin-top: 37px;
}

.kibTransImg {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.kibTransImg img {
  width: 100%;
  max-width: 150px;
}

.kibTransImg-1 {
  margin-left: 0px;
}

.kibTransImg-4 {
  margin-right: 0px;
}

.kibTransImg p {
  font-size: 16px;
  line-height: 20px;
  color: #623b2a;
  font-weight: normal;
  text-align: center;
  margin-top: 13px;
}

.kibcontent-Nutri {
  display: flex;
  margin-top: 40px;
}

.kibcontent-NutriAnalysis {
  width: 100%;
  height: auto;
  margin-right: 60px;
}

.kibcontent-NutriAnalysis h2 {
  font-size: 18px;
  line-height: 23px;
  color: #623b2a;
  text-align: left;

  margin-bottom: 15px;
  position: relative;
  margin-top: 0px;
}

.kibcontent-NutriAnalysis ul {
  margin-left: 0px;
  padding-left: 0px;
}

.kibcontent-NutriAnalysis ul li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  line-height: 32px;
  color: #242424;

  display: flex;
  text-align: left;
}

.kibcontent-NutriAnalysis ul li .nutriLabel {
  margin-right: auto;
  max-width: 180px;
  width: 100%;
}

.kibcontent-NutriAnalysis ul li .nutriValue {
  margin-left: auto;
  max-width: 90px;
  width: 100%;
}

.kibcontent-NutriStatement {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
}

.kibcontent-NutriStatement h2 {
  font-size: 18px;
  line-height: 23px;
  color: #623b2a;
  text-align: left;

  margin-bottom: 15px;
  position: relative;
  margin-top: 0px;
}

.kibcontent-NutriStatement p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.kibdisclaimer {
  margin-top: 1em;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;

  font-weight: normal;
}

@media only screen and (max-width: 1112px) {
  .kibbleModal-content {
    height: 100%;
    position: relative;
  }

  .kibdisclaimer {
    margin-bottom: 80px;
  }

  .kibtab-content-trans {
    margin-bottom: 120px;
  }

  .kibGoalContent {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 500px) {
  kibtab-content .kibbleModal-content {
    height: 100%;
    position: relative;
    padding: 20px 0px;
    width: 100%;
    max-width: 767px;
    min-width: 320px;
  }

  .kibbleModalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
  }

  .kibModalLogo {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .kibtab-header {
    margin-top: 28px;
    width: 100%;
    min-width: 280px;
    max-width: 671.13px;
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .KibMealPlanGraphicGrp-mob {
    display: block;
    position: relative;
  }

  .kibtab-content-trans {
    background-color: rgba(239, 143, 122, 0.1);
    padding: 0 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 767px;
    height: auto;
    padding-top: 20px;
    margin-top: 20px;
    min-width: 320px;
    margin-bottom: 20px;
  }

  .kibTabGrp {
    padding-left: 0px;
    padding-right: 0px;
  }

  .kibmeal-pln-bx-bg {
    background: rgba(239, 143, 122, 0.1);
    padding: 20px 20px;
    border-radius: 4px;
    height: 126px;
    width: 80%;
    max-width: 671px;
    position: relative;
    min-width: 280px;
    margin-bottom: 10px;
    position: relative;
    margin: 0 auto;
  }

  .kibmeal-plan-number {
    position: absolute;
    left: 126px;
    top: 36px;
  }

  .kibmeal-plan-label {
    position: absolute;
    left: 126px;
    top: 70px;
  }

  .kibtab-content-2,
  .kibcontent-Nutri {
    width: 100%;
    min-width: 280px;
    max-width: 671.13px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 40px;
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 414px) {
  .kibCircleMid-2 span {
    position: relative;
  }

  .kib-transGrp-1 {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
  }

  .kibTransImg-1 {
    position: relative;
    left: 0;
    width: 45%;
  }

  .kibTransImg-2 {
    position: relative;
    right: 0;
    width: 45%;
  }

  .kib-transGrp-2 {
    position: relative;
    width: 100%;
    display: flex;
  }

  .kibTransImg-3 {
    position: relative;
    left: 0;
    width: 45%;
  }

  .kibTransImg-4 {
    position: relative;
    right: 0;
    width: 45%;
  }

  .kibtab-content-trans {
    height: auto;
    padding-bottom: 30px;
    margin-bottom: 70px;
  }

  .kibbleModal-content {
    height: 100%;
  }
}
