.mixinModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10001; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0, 0.9); /* Fallback color */
}

/* Modal Content */
.mixinModal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 834px;
  height: 624px;
  border-radius: 4px !important;
  overflow-y: auto;
}

/* The Close Button */
.mixinModalClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.mixinModalClose:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mixinModalClose img {
  width: 24px !important;
  height: 24px !important;
  margin: auto !important;
}

.mixinModalLogo img {
  width: 100%;
  max-width: 116.33px;
  margin: 0 auto;
  display: block;
  margin-top: 52.35px;
  margin-bottom: 49.36px;
}

.mixinTabGrp {
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
  display: block;
}

.mixintabs {
  width: 100%;
  max-width: 714px;
}

.mixintabs-header {
  height: 48px;
  background-color: #f3f3f3;
  display: flex;
}

.mixintab-active {
  border-bottom: 2px solid rgb(213, 155, 43);
}

.mixintab-active span {
  color: rgb(98, 59, 42) !important;
}

.mixinPlan {
  width: 238px !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #1b1c24 !important;
  font-weight: normal !important;
  text-align: center !important;

  display: flex !important;
}

.mixinPlan span {
  margin: auto !important;
}

.mixinNutri {
  width: 238px !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #1b1c24 !important;
  font-weight: normal !important;
  text-align: center !important;

  display: flex !important;
}

.mixinNutri span {
  margin: auto !important;
}

.mixinTrans {
  width: 238px !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #1b1c24 !important;
  font-weight: normal !important;
  text-align: center !important;

  display: flex !important;
}

.mixinTrans span {
  margin: auto !important;
}

.mixintabs-content {
  margin-top: 38px !important;
}

.mixinPlanContGrp .mixintab-header {
  margin-bottom: 40px;
}

.mixintab-header h2 {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #623b2a !important;
  text-align: left !important;

  margin-bottom: 15px !important;
}

.mixintab-header p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: rgba(36, 36, 36, 0.8) !important;
  text-align: left !important;
}

.mixintab-content-1 h2 {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #623b2a !important;
  text-align: left !important;

  margin-bottom: 19px !important;
}

.mixinMealPlanGraphicGrp {
  display: flex !important;
}

.mixinmeal-pln-bx-bg {
  background: rgba(239, 143, 122, 0.1);
  padding: 30px 69px;
  border-radius: 4px;
  height: 211px;
  width: 100%;
  max-width: 231px;
  position: relative !important;
}

.mixinmeal-pln-bx-bg-1 {
  margin-right: auto;
}

.mixinmeal-pln-bx-bg-3 {
  margin-left: auto;
}

.mixinCircleMP {
  height: 86px !important;
  width: 86px !important;
  background-color: rgba(239, 143, 122, 0.4) !important;
  border-radius: 50% !important;
  display: flex !important;
}

.mixinCircleMP-kcals img {
  width: 100% !important;
  max-width: 42px !important;
  height: 47px !important;
  margin: auto !important;
}

.mixinCircleMP-cupsPD img {
  width: 100% !important;
  max-width: 49px !important;
  height: 38px !important;
  margin: auto !important;
}

.mixinCircleMP-lbs7 img {
  width: 100% !important;
  max-width: 36px !important;
  height: 48px !important;
  margin: auto !important;
}

.mixinCircleMid {
  height: 40px !important;
  width: 40px !important;
  background-color: #ef8f7a !important;
  border-radius: 50% !important;
  display: flex !important;
}

.mixinCircleMid span {
  margin: auto !important;
}

.mixinCircleMid-1 {
  position: absolute !important;
  left: 38.3% !important;
  top: 20.9% !important;
}

.mixinCircleMid-2 {
  position: absolute !important;
  left: 58.3% !important;
  top: 20.9% !important;
}

.mixinCircleMid-2 span {
  height: 8px !important;
  display: flex !important;
}

.mixinmeal-plan-number {
  margin-top: 10px !important;
  text-align: center !important;
  color: #ef8f7a !important;
  font-size: 22px !important;
  line-height: 28px !important;
  font-weight: normal !important;
}

.mixinmeal-plan-label {
  text-align: center !important;

  color: #1b1c24 !important;
  font-size: 18px !important;
  line-height: 23px !important;
  margin-top: 4px !important;
}

.mixintab-content-2 {
  margin-top: 40px !important;
}

.mixintab-content-2 h2 {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #623b2a !important;
  text-align: left !important;

  margin-bottom: 29px !important;
}

.mixinGoalContent {
  display: flex !important;
}

.mixinGoalContent ul {
  margin-right: 68px !important;
}

.mixinGoalContent ul li {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #242424 !important;

  font-weight: normal !important;
}

.mixinGoalContent ul:nth-child(4) {
  margin-right: 0px !important;
  margin-left: auto !important;
}

.mixintab-content-trans {
  background-color: rgba(239, 143, 122, 0.1) !important;
  padding: 0 20px !important;
  border-radius: 4px;
  width: 100% !important;
  max-width: 714px !important;
  height: 300px !important;
  padding-top: 30px !important;
  margin-top: 38px !important;
}

.mixintab-content-trans h2 {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #623b2a !important;
  text-align: center !important;

  margin-bottom: 0px !important;
  position: relative;
  margin-top: 0px !important;
}

.mixintab-contentImgGrp {
  display: flex !important;
  margin-top: 37px !important;
}

.mixinTransImg {
  margin-left: auto;
  margin-right: auto;
  margin: auto !important;
}

.mixinTransImg img {
  width: 100% !important;
  max-width: 150px !important;
}

.mixinTransImg-1 {
  margin-left: 0px !important;
}

.mixinTransImg-4 {
  margin-right: 0px !important;
}

.mixinTransImg p {
  font-size: 16px !important;
  line-height: 20px !important;
  color: #623b2a !important;
  font-weight: normal !important;
  text-align: center !important;
  margin-top: 13px !important;
}

.mixincontent-Nutri {
  display: flex !important;
  margin-top: 40px !important;
}

.mixincontent-NutriAnalysis {
  width: 100%;
  max-width: 284px !important;
  height: 311px !important;
  margin-right: 70px !important;
}

.mixincontent-NutriAnalysis h2 {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #623b2a !important;
  text-align: left !important;

  margin-bottom: 15px !important;
  position: relative;
  margin-top: 0px !important;
}

.mixincontent-NutriAnalysis ul {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.mixincontent-NutriAnalysis ul li {
  text-decoration: none !important;
  list-style: none !important;
  font-size: 16px !important;
  line-height: 32px !important;
  color: #242424 !important;

  display: flex !important;
  text-align: left !important;
}

.mixincontent-NutriAnalysis ul li .nutriLabel {
  margin-right: auto !important;
  max-width: 180px !important;
  width: 100% !important;
}

.mixincontent-NutriAnalysis ul li .nutriValue {
  margin-left: auto !important;
  max-width: 90px !important;
  width: 100% !important;
}

.mixincontent-NutriStatement {
  width: 100% !important;
  max-width: 360px !important;
  margin-left: auto;
}

.mixincontent-NutriStatement h2 {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #623b2a !important;
  text-align: left !important;

  margin-bottom: 15px !important;
  position: relative;
  margin-top: 0px !important;
}

.mixincontent-NutriStatement p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: rgba(36, 36, 36, 0.8) !important;
  text-align: left !important;
}

@media only screen and (max-width: 1112px) {
  .mixinModal-content {
    height: 100% !important;
    position: relative !important;
    bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .mixinModal-content {
    height: 100% !important;
    position: relative !important;
    padding: 20px 0px !important;
    width: 100% !important;
    max-width: 767px !important;
    min-width: 320px !important;
  }

  .mixinModalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
  }

  .mixinModalLogo {
    width: 100% !important;
    max-width: 320px !important;
    margin: 0 auto !important;
  }

  .mixintab-header {
    margin-top: 28px !important;
    width: 100% !important;
    min-width: 280px !important;
    max-width: 671.13px !important;
    margin: 0 auto !important;
    padding: 0px 20px !important;
    margin-top: 28px !important;
  }

  .mixintab-content-trans {
    background-color: rgba(239, 143, 122, 0.1) !important;
    padding: 0 20px !important;
    border-radius: 4px;
    width: 100% !important;
    max-width: 767px !important;
    height: 429px !important;
    padding-top: 20px !important;
    margin-top: 20px !important;
    min-width: 320px !important;
  }

  .mixinTabGrp {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mixintab-content {
    width: 100% !important;
    min-width: 280px !important;
    max-width: 671.13px !important;
    margin: 0 auto !important;
    padding: 0px 20px !important;
  }
}

@media only screen and (max-width: 414px) {
  .mixintabs-content {
    margin-bottom: 100px !important;
  }
}

@media only screen and (max-width: 320px) {
  .mixinModal-content {
    height: 100% !important;
    bottom: 0;
  }
}
