:root {
  --background: #f7f7f7;
  --green: #12b0aa;
  --black: #3d3d3d;
  --brown: #653b2b;
  --lightGrey: #f8f8f8;
  --brownTitles: #983920;
  --blackTitles: #3f3f3f;
  --greenButtonBase: #01adaa;
  --margin: 32px;
  --primary-color: #5b7f95;
  --rp-blue: #557e97;
  --paddingMainEndSlide: 15%;
  --greenEndSlide: #00b2a9;
  --redDiscount: #ff3a52;
  --selectColor: #4a4a4a;
  --progressBgColor: #f8e9bd;
  --highightedText: #623b2a;
  --introBgColor: #f3f3f3;
  --golden: #d59b2b;
  --lightRed: #ef8f7a;
  --hbYellow: #f6dfa4;

  --hbTextColor: #623b2a;

  --fontFamily: 'Averta Std', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  --toolTipArrow: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/WCMTRyUnPlG.png?ts=1580065295036)
    center center no-repeat;
  --toolTipArrowSize: 46px 21px;

  --icPackageInsideOrange: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/vf3HkdnQCnG.png?ts=1580001763219)
    left center no-repeat;
  --icPackageInsideOrangeSize: 34px;

  --icCheckMarkGreen: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/6XoxuSG3rRF.png?ts=1580001720637)
    left center no-repeat;
  --icCheckMarkGreenSize: 20px;

  --icPackageInsideBrown: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/apm5LuFd0tO.png?ts=1580001756116)
    no-repeat;
  --icPackageInsideBrownSize: 42px;

  --icCalculation: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/5aFXu6CAgjP.png?ts=1580001692405)
    bottom center no-repeat;
  --icCalculationSize: 60px;

  --icHeart: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/yaRJ0LaZm0M.png?ts=1580001797195)
    bottom center no-repeat;
  --icHeartSize: 60px;

  --icGuaranteedAnalysis: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/2g5kfsFsvKw.png?ts=1580001741343)
    left center no-repeat;
  --icGuaranteedAnalysisSize: 32px 40px;

  --icProgressCheckMark: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/02qgeu2HAGy.png?ts=1580048584905)
    right 15px center no-repeat;
  --icProgressCheckMarkActive: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/r7iVWhdgMQ3.png?ts=1580048579821)
    right 15px center no-repeat;
  --icProgressCheckMarkSize: 24px 24px;

  --icHealthGoals: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/YkjV5aIXORZ.png?ts=1580001746473)
    left 50px top 50px no-repeat;
  --icHealthGoalsSize: 60px 60px;

  --icDogFoodCalories: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/BUqUHOuPvxI.png?ts=1580052236661)
    bottom center no-repeat;
  --icDogFoodCaloriesSize: 90px 75px;

  --icCups: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/b7k4LYjLsCY.png?ts=1580001725583)
    bottom center no-repeat;
  --icCupsSize: 68px 54px;

  --icCalendar: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/p6TwGZLGSYg.png?ts=1580001702720)
    bottom center no-repeat;
  --icCalendarSize: 68px 59px;

  --icWeight: url(https://cdn.pickzen.com/upload/1825/quiz/5143/sbgLUJ34fSX.png)
    bottom center no-repeat;
  --icWeightSize: 60px 60px;

  --icArrow: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/yT9stmxf3qu.png?ts=1580059704676)
    center center no-repeat;
  --icMultiply: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/ROyL7ScpmOn.png?ts=1580059719432)
    center center no-repeat;
  --icEquals: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/2vXpAsdqlTS.png?ts=1580059736101)
    center center no-repeat;
  --icMathSize: 25px 25px;

  --icNoResults: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/VFRXzAE32mP.png?ts=1580070980684)
    no-repeat;
  --icNoResultsSize: 80px 80px;

  --icArrowDown: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/OqdXWf8ixKf.png?ts=1580070990913)
    no-repeat;
  --icArrowDownSize: 48px;

  --noResultsStep1: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/N0ju356l3Ww.jpg?ts=1580070975052)
    bottom right no-repeat;
  --noResultsStep1Size: 480px 419px;

  --noResultsStep2: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/QAlKxJ2D4bR.jpg?ts=1580071027833)
    bottom right no-repeat;
  --noResultsStep2Size: 729px 553px;

  --noResultsStep3: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/sDvKdn4z03C.jpg?ts=1580071007045)
    bottom right no-repeat;
  --noResultsStep3Size: 608px 597px;

  --spacing: 10px;
  --negative-spacing: -10px;
}

$fontPath: '../fonts/AvertaStd/';
$small: '480px';
$medium: '768px';
$large: '1024px';
$super: '1200px';
$hyper: '1440px';

main {
  width: 100%;

  @media (max-width: $small) {
    padding-top: 40px;
  }
}

@font-face {
  font-family: 'Averta Std';
  src: url('#{$fontPath}Averta-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Std';
  src: url('#{$fontPath}Averta-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Std';
  src: url('#{$fontPath}Averta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Std';
  src: url('#{$fontPath}Averta-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averta Std';
  src: url('#{$fontPath}Averta-Regular.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: var(--fontFamily);
  color: var(--hbTextColor);
  font-size: 18px;

  @media (min-width: 520px) {
    font-size: 24px;
    line-height: 18px;
  }
}

@media (max-width: $small) {
  :root {
    --spacing: 10px;
  }
}

.HbHeadContainer {
  position: fixed !important;
  .slide-End & {
    position: static !important;
  }
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  *:not(.HbLogo) {
    // pointer-events: none;
  }

  header[id^='HbContent'] {
    @media (min-width: 800px) and (max-width: 1200px) {
      max-width: 600px;
    }
  }
}

.HbHeader {
  text-align: center;
}

div[role='radiogroup'] {
  // flex-wrap: wrap;
}
.hbRadio {
  @media (max-width: $small) {
    [class*='spacing'] {
      // display: none;
    }
  }
}

label[class*='radio-group-button'] {
  @media (max-width: $small) {
    min-width: 0 !important;
  }
}

label[class*='radio-group-button'] {
  margin-bottom: var(--spacing);
}
ul[role*='listbox'] {
  width: auto !important;
}
small {
  font-size: 16px;
  font-style: italic;
  opacity: 60%;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  position: relative;
  padding-left: 0;
}
.title {
  line-height: normal;
}

.slider {
  @media (min-width: $medium) {
    // padding-left: calc(100% / 12 * 1);
  }
}
.slider-control-centerright {
  display: none;
  @media (min-width: $super) {
    display: block;
  }
  @media (min-width: $hyper) {
    transform: translate(100%, -50%) !important;
  }
}
.slider-control-centerleft {
  display: none;
  @media (min-width: $super) {
    display: block;
  }
  @media (min-width: $hyper) {
    transform: translate(-100%, -50%) !important;
  }
}

.slider-frame {
  // padding: 40px 20px !important;
}

.slide-End {
  margin-bottom: 100px;
}

.paging-dot {
  transform: scale(2.4);
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(30px);
  transition: all 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

.wave div[style] {
  mask-size: contain !important;
  mask-position: 0% 100% !important;
  @media (min-width: 1990px) {
    mask-size: cover !important;
    div[id^='Slot'] > div[style] {
      height: 100px !important;
    }
  }
}

.slideAnimate {
  transition: all 1200ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.HbHeader {
  z-index: 2;
}

.noScroll {
  overflow: hidden;
}

.spacer {
  padding: 10px;
}

.tippy-tooltip.light-theme [x-circle] {
  background-color: var(--hbYellow) !important;
}
.ReactModal__Overlay {
  z-index: 10;
  background: rgba(0, 0, 0, 0.75) !important;
  display: flex;
  align-items: flex-start;
  padding: 2.5vh 0;
  justify-content: center;
}

.ReactModal__Content {
  max-width: 60ch;
  min-width: 60ch;
  background: white;
  margin: 0 auto;
  padding: 4ch;
  position: relative;
  height: 95vh;
  overflow-y: auto;
  align-items: flex-start;

  @media (max-width: 480px) {
    max-height: 100%;
    height: 100%;
    padding: 2ch;
  }

  &:focus {
    outline: none;
  }
}

div[id^='Slot'] {
  overflow: visible !important;
}

h2 {
  color: rgb(98, 59, 42);
}

.inheritColor {
  color: inherit;
}

.pagingDots {
  fill: white !important;
  opacity: 1 !important;
  outline: none !important;
}

li.paging-item.active .pagingDots {
  fill: rgb(98, 59, 42) !important;
}

[id^='TitleContainer'] {
  overflow: visible !important;
}

[id^='Step Title'] {
  @media (min-width: 540px) and (max-width: 640px) {
    font-size: 1.9vw !important;
  }
  @media (min-width: 480px) and (max-width: 540px) {
    font-size: 1.7vw !important;
  }
}

[id^='ExtraImg'] div[role='img'] {
  @media (max-width: 1340px) {
    transform: translateY(30%) !important;
  }

  @media (min-width: 1340px) {
    transform: translateY(40%) !important;
  }
}

.selectContainer {
  @media (max-width: $medium) {
    min-width: 30%;
    & > div {
      width: 100%;
    }
    [class*='control'] {
      min-height: 28px !important;
    }
  }
}

.HbFormElement {
  @media (max-width: $small) {
    width: 100%;
    justify-content: center;

    margin-top: 10px !important;
    margin-bottom: 10px !important;

    gap: 10px;
    flex-wrap: nowrap;

    // &:last-of-type {
    //   // margin-bottom: 10px !important;

    // }
  }

  white-space: nowrap;
}

.mobileNewLine {
  @media (max-width: $small) {
    width: 100%;
    flex-wrap: wrap;
    input {
      width: 100%;
    }
  }
}

.beforeTxt,
.afterTxt {
  display: inline-flex;
  white-space: nowrap;
}

.HbHeader {
  @media (max-width: $small) {
    div[id^='Background'] {
      height: 100% !important;
    }
  }
}

.HbButtonGroup {
  @media (max-width: $small) {
    width: 100%;
    button:only-of-type {
      flex: 1;
    }
  }
}

.HbContent {
  @media (max-width: $small) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  @media (min-width: $medium) {
    margin: 0 auto;
  }
}

.HbFormElementParent {
  width: 100%;
}

label[class*='radio-group-button-root'] {
  @media (min-width: $small) {
    min-width: 192px;
  }
}

.Navigation {
  padding: 10px 0;
  @media (max-width: $small) {
    button {
      flex: 1;
    }
  }
}

.RadioWithImages {
  @media (max-width: $small) {
    &.buttonColumn {
      > [class*='spacing'] {
        display: none;
      }
    }
  }
}

.CheckboxGroup {
  @media (max-width: $small) {
    gap: 0;
    max-width: 100%;
    .CheckboxButtonContainer:not(.tag-group) label {
      flex-basis: 45%;
      min-width: 45%;
      margin-bottom: 5px;
    }
    button {
      min-width: 0px;
      width: 100%;
      flex-direction: row !important;
    }
  }
}

.newLineSmall {
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 20px;
  @media (max-width: $small) {
    text-align: center;
    margin-bottom: 0;
  }
}

.player-container {
  @media (max-width: $medium) {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 0 !important;
  }
}

.HbCardContainer {
  @media (max-width: $small) {
    padding: 0 10px;
  }

  @media (max-width: $medium) {
    justify-content: center;
  }

  @media (min-width: $medium) {
    padding: 0 10px;
  }
}

.HbCard {
  width: 23.5%;
  @media (max-width: $large) {
    width: 48%;
    margin-bottom: 20px;
  }
  @media (max-width: $small) {
    width: 100%;

    margin-bottom: 10px;
  }
}

.slide-Form {
  @media (max-width: $small) {
    height: 100vh;
  }
}
@media (max-width: $small) {
  main {
    height: 100%;
  }
}
.slideFooter {
  // position: fixed;
  bottom: 0;
  align-self: flex-end;
  width: 100%;

  @media (min-width: $medium) {
    position: fixed;
    bottom: 0;
    padding: 0 10px;
  }
}

.forceSameLine {
  flex-wrap: nowrap !important;
}

.HbFeatureItem {
  &.stack {
    padding: 0 20px 20px;
  }
}

[id^='Head'] [id^='Text'] {
  @media (max-width: $small) {
    font-size: 22px !important;
    line-height: 24px !important;
  }
}
[id*='Column'] [id^='Head'] {
  @media (max-width: $small) {
    padding-bottom: 20px !important;
  }
}

[id^='Title'] {
  @media (max-width: $small) {
    font-size: 18px !important;
    line-height: 18px !important;
  }
}

.switch {
  @media (max-width: $small) {
    margin: 0 10px;
  }
}

.HbWave {
  @media (max-width: $small) {
    height: 0 !important;
    padding: 20px !important;
  }
}

.slider-list {
  @media (max-width: $small) {
    margin: 0;
  }
}

[id*='ClientContainer'] {
  @media (max-width: $small) {
    flex-direction: column !important;
    gap: 3px !important;
  }
}

.HbLogo [id*='Icon'] {
  @media (min-width: $large) {
    transform: scale(1.5);
  }
}
