
:root {
    --background: #F7F7F7;
    --green: #12B0AA;
    --black: #3D3D3D;
    --brown: #653B2B;
    --lightGrey: #f8f8f8;
    --brownTitles: #983920; 
    --blackTitles: #3F3F3F;
    --greenButtonBase: #01ADAA;
    --margin: 32px;
    --primary-color:#5B7F95;
    --rp-blue: #557E97;
    --paddingMainEndSlide: 15%;
    --greenEndSlide: #00b2a9;
    --redDiscount: #ff3a52;
    --selectColor: #4a4a4a;
    --progressBgColor: #F8E9BD;
    --highightedText: #623B2A;
    --introBgColor: #F3F3F3;
    --golden: #D59B2B;
    --lightRed: #EF8F7A;

    --hbTextColor: #242424;

    --fontFamily: "Averta Std", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    --toolTipArrow: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/WCMTRyUnPlG.png?ts=1580065295036) center center no-repeat;
    --toolTipArrowSize: 46px 21px;

    --icPackageInsideOrange: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/vf3HkdnQCnG.png?ts=1580001763219) left center no-repeat;
    --icPackageInsideOrangeSize: 34px;

    --icCheckMarkGreen: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/6XoxuSG3rRF.png?ts=1580001720637) left center no-repeat;
    --icCheckMarkGreenSize: 20px;

    --icPackageInsideBrown: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/apm5LuFd0tO.png?ts=1580001756116) no-repeat;
    --icPackageInsideBrownSize: 42px;

    --icCalculation: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/5aFXu6CAgjP.png?ts=1580001692405) bottom center no-repeat;
    --icCalculationSize: 60px;

    --icHeart: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/yaRJ0LaZm0M.png?ts=1580001797195) bottom center no-repeat;
    --icHeartSize: 60px;

    --icGuaranteedAnalysis: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/2g5kfsFsvKw.png?ts=1580001741343) left center no-repeat;
    --icGuaranteedAnalysisSize: 32px 40px;

    --icProgressCheckMark: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/02qgeu2HAGy.png?ts=1580048584905) right 15px center no-repeat;
    --icProgressCheckMarkActive: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/r7iVWhdgMQ3.png?ts=1580048579821) right 15px center no-repeat;
    --icProgressCheckMarkSize: 24px 24px;

    --icHealthGoals: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/YkjV5aIXORZ.png?ts=1580001746473) left 50px top 50px no-repeat;
    --icHealthGoalsSize: 60px 60px;

    --icDogFoodCalories: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/BUqUHOuPvxI.png?ts=1580052236661) bottom center no-repeat;
    --icDogFoodCaloriesSize: 90px 75px;

    --icCups: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/b7k4LYjLsCY.png?ts=1580001725583) bottom center no-repeat;
    --icCupsSize: 68px 54px;

    --icCalendar: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/p6TwGZLGSYg.png?ts=1580001702720) bottom center no-repeat;
    --icCalendarSize: 68px 59px;
  
    --icWeight: url(https://cdn.pickzen.com/upload/1825/quiz/5143/sbgLUJ34fSX.png) bottom center no-repeat;
    --icWeightSize: 60px 60px;

    --icArrow: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/yT9stmxf3qu.png?ts=1580059704676) center center no-repeat;
    --icMultiply: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/ROyL7ScpmOn.png?ts=1580059719432) center center no-repeat;
    --icEquals: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/2vXpAsdqlTS.png?ts=1580059736101) center center no-repeat;
    --icMathSize: 25px 25px;

    --icNoResults: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/VFRXzAE32mP.png?ts=1580070980684) no-repeat;
    --icNoResultsSize: 80px 80px;

    --icArrowDown: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/OqdXWf8ixKf.png?ts=1580070990913) no-repeat;
    --icArrowDownSize: 48px;

    --noResultsStep1: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/N0ju356l3Ww.jpg?ts=1580070975052) bottom right no-repeat;
    --noResultsStep1Size: 480px 419px;

    --noResultsStep2: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/QAlKxJ2D4bR.jpg?ts=1580071027833) bottom right no-repeat;
    --noResultsStep2Size: 729px 553px;

    --noResultsStep3: url(https://s3-eu-west-1.amazonaws.com/eq-static/upload/1825/quiz/4868/sDvKdn4z03C.jpg?ts=1580071007045) bottom right no-repeat;
    --noResultsStep3Size: 608px 597px;

    --spacing: 10px;
}

$fontPath: '../fonts/AvertaStd/';

@font-face {
    font-family: 'Averta Std';
    src: url('#{$fontPath}Averta-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Std';
    src: url('#{$fontPath}Averta-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Std';
    src: url('#{$fontPath}Averta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Std';
    src: url('#{$fontPath}Averta-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Averta Std';
    src: url('#{$fontPath}Averta-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

body {
  font-family: var(--fontFamily);
  font-size: 18px;

  @media (min-width: 520px) {
      font-size: 24px;
      line-height: 18px;
  }
}

.HbHeader {
    text-align: center;
}

div[role="radiogroup"] {
    flex-wrap: wrap;
}
label[class*="radio-group-button"] { margin-bottom: var(--spacing); }
ul[role*="listbox"] { width: auto !important; }
small {
    font-size: 16px;
    font-style: italic;
    opacity: 60%;
}